<h1>New Movies</h1>

<%= form_for @movie, url: { action: "create" } do |f| %>
  <div class="c1">
    <% if @movie.errors.present? %>
    <% @movie.errors.full_messages.each do |errors| %>
      <%= errors %><br/>
      <% end %>
    <% end %>
  </div>
  <p>Movie Name: <%= f.text_field :name %></p>
  <p>Description: <%= f.text_field :description %></p>
  <%= f.submit %>
<% end %>
